body {
  margin: 0px;
}

.spacer { 
  height: 50px;
  background-color: red;
}

#section_one_container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;  
  margin: 0.5px;
  border: 1px solid blue;
  background-color: #BBDEFBff;
}

#map_container {
  display: flex;
  text-align: center;
  justify-content: center;
  padding-top: 50px;
}

#map { 
  height: 400px;
  width: 600px;
  margin: 50px 0px 125px 0px;
  border: 3px solid green;
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
}

footer {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: center;
  gap: 15px;
  border: 3px solid pink;
}

/* MAIN MENU START */
.main_menu {
  margin: 0px;
  padding: 0px;
  border: 1px solid black;
  display: flex;
  gap: 100px;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: red;
  z-index: 9999;
  overflow: hidden;
}

.main_menu a {
  float: left;
  text-align: center;
  padding: 16px 18px;
  background-color: yellow;
  border: 1px solid black;
  color: black; 
  text-decoration: none;
}

.drop_down { 
  float: left;
  overflow: hidden;
}

.drop_down .drop_button {

}

.main_menu a:hover, .drop_down:hover .drop_button {
  background-color: greenyellow;
}

/* MAIN MENU END */

/* Rotate 180 degrees along the y-axis */
.img_hor {
  transform: rotateY(180deg);
}